body{
    background-color: #f7ede2;
    font-family: garamond, serif;
}
.evenrow{
    background-color: #bcb8b1;
 }
 h1,h2,h3{
    color: #582f0e;
 }
 h1{
    font-size: 2.5em;
 }
 h2{
    font-size: 2em;
 }
 h3{
    font-size: 1.5em;
 }
 p{
   color: #212529;
 }
 .hobbies-list{
    color: #606c38;
 }
nav a:hover{
    background-color: #ff8fab
}
a{ 
   background-color: #ffffff;
   color: #606c38;
   padding: 10px;
   margin-bottom: 30px;
}
